body{
background: transparent linear-gradient(156deg, #FCF3F3 0%, #FFFFFF 49%, #FAF1F0 100%) 0% 0% no-repeat padding-box;

}
.container-fluid{

}
/* .leftside{
    padding-left: 166px;
    padding-top: 78px;
} */
header{
    margin-left: 27px;
    margin-top: 31px;
}
#logo{
    border:2px solid #E7A09E;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    display: inline-block;
    
}
#heading{
    display: inline-block;
}
#heading>div{
    font: normal normal medium 20px/28px Avenir;
    letter-spacing: 6px;
    color: #5F5A5A;
}
/* .headings{
    padding-left: 64px;
} */
.headings{
    margin-left: 64px;
}
#h1{
font: normal light 300 64px/90px Avenir;
letter-spacing: 19.2px;
color: #D2A1A2;
text-align: center;
}
#h2,#h3{
    font: normal medium 300 64px/90px Avenir;
letter-spacing: 19.2px;
color: #393334;
text-align: center;
}
#para{
    text-align: left;
font: normal normal 600 13px/26px Open Sans;
letter-spacing: 0px;
color: #9A6B69;
width: 475px;
height: 70px;
}
#email{
    width: 475px;
    height: 60px;
    border:2px solid #E7A09E;
    border-radius: 40px;
    margin-top: 100px;
    font: 900;

}
#btn{
    display: inline-block;
    text-align: center;
    height: 60px;
    color: white;
    width: 100px;
    border-radius: 40px;
    background-color:#E7A09E ;
    position: relative;
    right:100px;
    bottom: 8px;
}