.container{
    background-color: indianred;
    height: 700px;
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-start;

}
.child{
    box-sizing: border-box;
    height: 50vh;
    text-align: center;
}
#child1{
    width: 55%;
    background-color: wheat;
}
#child2{
    width: 50%;
    background-color:yellowgreen;
}
#child3{
    width: 50%;
    background-color: skyblue;
}
@media screen and (max-width:415px) {
    #child1{
        width: 100%;
    }
    #child2{
        width: 100%;
    }
    #child3{
        width: 100%;
    }

    
}