.container{

    border:1px solid red;
    display:grid;
   grid-template-areas: 
   'header header '
   ' main men';
   grid-gap:10px;
   

   
}
.child{
    border:1px solid green;
    background-color: wheat;
    font-size: larger;
    padding: 30px;
    text-align: center;
}
#child1{
    grid-area: header;
    
}
#child2{
    grid-area: men;
}
#child3{
    grid-area: main;
    
}

